<header class="header">

  <img
  class="burger-icon"
  src="./assets/images/burger-icon.png"
  alt="Burger icon">

  <img
  class="header__logo"
  src="./assets/images/logo.png"
  alt="Logo">

    <nav class="header__nav">

      <!-- <i class="fa-solid fa-bars">
      </i> -->

      <ul class="header__menu">

        <li>
          <a class="menu"
          href="https://adalab.es" 
          target="_blank">
            Productos
          </a>
        </li>

        <li>
          <a
          class="menu"
          href="https://adalab.es"
          target="_blank">
          Colecciones
          </a>
        </li>

        <li>
          <a
          class="menu"
          href="https://adalab.es"
          target="_blank">
          Tienda
          </a>
        </li>

        <li>
          <a 
          id="home" 
          class="menu" 
          href="#home"
          target="_blank">
            Inicio
          </a>
        </li>

      </ul>

    </nav>

  
     
    <h1 class="header__title">
      Disfruta creando espacios
    </h1>

    <button class="button">
      <a
      href="https://adalab.es/"
     target="_blank">
        Comprar ahora
      </a>
    </button>

</header>


