<main class="main">
  <!-- 2ND MODULE - OPEN SPACES -->

  <section class="spaces">

    <div class="spaces__container">
      <h2 class="spaces__title">
        Volverse organizado se siente mejor con
        <span class="spaces__title--uc"> open spaces</span>
      </h2>
    </div>

    <article class="spaces__article">
      <img class="spaces__icon" src="./assets/images/icon_1.png" />
      <h3 class="spaces__article__title">Lo que necesitas</h3>
      <p class="spaces__text">
        Una línea de productos diseñados para todos tus espacios
      </p>
    </article>

    <article class="spaces__article">
      <img class="spaces__icon" src="./assets/images/icon_2.png" />
      <h3 class="spaces__article_title">Materia primas sustentables</h3>
      <p class="spaces__text">
        Todos los productos con materias primas sustentables
      </p>
    </article>

    <article class="spaces__article">
      <img class="spaces__icon" src="./assets/images/icon_3.png" />
      <h3 class="spaces__article_title">Guía</h3>
      <p class="spaces__text">
        Soporte y asesoramiento para ayudarte con tu objetivo
      </p>
    </article>

  </section>

  <!-- 3RD MODULE -->

  <section class="shipment">
    <img src="./assets/images/icon_4.png" />
    <h2 class="shipment__title">Envío gratis garantizado</h2>
    <p class="shipment__text">Envío gratis en compras desde 100 euros</p>
    <p>
      <a href="https://adalab.es/"> Comprar ahora </a>
    </p>
  </section>

  <!-- 4TH MODULE - Disfruta creando espacios -->

  <section class="enjoy">
    <article class="enjoy__item enjoy__article">
      <h2 class="enjoy__article__title">Disfruta creando espacios</h2>

      <p class="enjoy__article__text">
        Una línea de productos diseñados para todos tus espacios
      </p>

      <button class="button">
        <a href="https://adalab.es/"> Comprar ahora </a>
      </button>
    </article>

    <img
      class="enjoy__item enjoy__image"
      src="./assets/images/creando-espacios.jpg"
    />
  </section>
</main>
