// 1ST MODULE

.header {
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    color: $dark-green;
  }

  &__burger-icon {
    position: fixed;
    top: 55px;
    left: 33px;
    width: 24px;
    height: 24px;

    @media all and (min-width: 1380px) {
      display: none;
    }
  }

  &__nav {
    color: $dark-green;
    position: fixed;
    top: 76px;
    left: 10%;

    @media all and (max-width: 1380px) {
      display: none;
    }

    @media all and (min-width: 1380px) {
      display: block;
    }

    &__menu {
      width: 424px;
      color: $dark-green;
      text-align: left;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__item {
        color: $dark-green;
        font-size: 16px;
      }
    }
  }

  &__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 19px;
    width: 213px;
    height: 96px;

    @media all and (min-width: 900px) {
      top: 39px;
    }
  }

  @media all and (min-width: 900px) {
    align-items: flex-start;
  }

  &__focus {
    @media all and (min-width: 900px) {
      position: relative;
      left: 10%;
    }
  }
}

.button {
  font-family: $font semibold;
  font-size: 16 px;
  color: $white;
  background-color: $dark-green;
  width: 176px;
  height: 48px;
  padding: 12px 24px;
  cursor: pointer;
}
