.footer {
  width: 100vw;
  background-color: $dark-green;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: flex-start;

  &__section {
    position: relative;
    left: 30%;
    padding: 71px 0 74px 0;
    text-align: left;

    @media all and (min-width: 415px) {
      left: 0%;
    }
  }

  @media all and (min-width: 415px) {
    right: 40%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}

.social-media {
  display: flex;
  flex-direction: row;
}

.instagram {
  padding: 0 3px;
}
